*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --theme-color:#f76724;
    --pab-color:#ffcab190;
    --sab-color:rgb(248, 180, 121);
    --bab-color:#ff783abb;
    --light-color:white;
    --dark-color:black;
    --bi-color:#ff783a;
    --th-color:rgba(255, 221, 191, 0.389);
    --sc-color:rgb(255, 247, 240);
    --wh-color:#ff783a9a;
    --mf-color:#f14d07;
    --wh-light-color:#ffb89779;
    --lighty-color:whitesmoke;
    --white-color:aliceblue;
}
.py{
    padding: 100px 0;
}
.top-90{
    top: 90% !important;
}
.w-70{
    width: 70% !important;
}
.bg-orange{
    background-color: var(--theme-color) !important;
}
.bg-opacity{
    background-color: var(--sab-color) !important;
}
.bg-gradient{
    background: linear-gradient(230deg , #f76724d9 , #f76724d9) !important;
}
.click , .cursor , .vm{
    transition: all 0.3s linear;
}
.click:hover{
    background-color: var(--mf-color) !important;
}
.cursor:hover{
    color: var(--theme-color) !important;
}
.vm:hover{
    background-color: var(--mf-color) !important;
    color: var(--white-color) !important;
}
.border-orange{
    border-color: var(--theme-color) !important;
}
.text-orange{
    color: var(--theme-color) !important;
}
/* header */
header{
    z-index: 99;
}
.logo h2 a span{
    font-size: 3rem !important;
    color: var(--theme-color);
}
nav ul li a{
    transition: all 0.3s linear !important;
}
nav ul li a:hover{
    -webkit-text-stroke: 1px var(--theme-color) !important;
}
/* banner */
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.779) , rgba(0, 0, 0, 0.779)) , url('../images/work.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.banner-content h1{
    font-size: 52px;
}
/* Work */
.work-title h2{
    font-size: 40px !important;
}
.work-item:hover .work-content small{
    background-color: var(--wh-color);
    border-radius: 5px;
    color: var(--light-color) !important;
}
.work-content h6{
    font-size: 19px;
}
.work-img img{
    object-fit: cover !important;
}
.work-content small{
    padding: 5px;
}
.work-content , .work-content small , .more-work a{
    transition: all 0.3s linear;
}
.work-item:hover .work-content{
    background-color: var(--wh-light-color) !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.pagination span{
    transition: all 0.3s linear;
}
.pagination span:hover{
    color: var(--white-color) !important;
}
/* News */
.ip{
    outline: none !important;
    border-color: transparent;
    caret-color: var(--white-color);
    color: var(--white-color) !important;
}
::placeholder{
    color: var(--light-color);
}
/* Footer */
footer{
    padding: 80px 0 0;
    z-index: 9;
    background-color: var(--pab-color) !important;
}
footer::before{
    content: '';
    position: absolute;
    top: -250px;
    left: -300px;
    width: 700px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--pab-color);
    z-index: -1;
    opacity: 0.3;
}
footer::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: var(--pab-color);
    right: -200px;
    bottom: -200px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.3;
}
.footer-bottom p a{
    color: var(--sab-color) !important;
}
.footer-2 ul li a{
    transition: all 0.3s linear;
}
.footer-2 ul li a:hover{
    color: var(--theme-color) !important;
}
.footer-3 .footer-post img{
    object-fit: cover;
}
.footer-3 .footer-post .text a{
    font-size: 12px;
}
.footer-3 .footer-post .text h5 a{
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s linear;
}
.footer-3 .footer-post .text h5 a:hover{
    color: var(--theme-color) !important;
}
.footer-4 .map p , .footer-4 .call a , .footer-4 .tele a {
    font-size: 14px;
}